@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Merriweather:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    font-family: Martian Mono, sans-serif;
    color: #1e1d1d
}

h1,
h2 {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #373636
}

.hero-image {
    background-image: url("../images/hero-imageORG.jpg");
    height: 50%;
    background-size: cover;
    background-color: aquamarine;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #201d1d;
}